extends layout

block content
  div.container-main
    div.createpoll
      h1 Galaxy Sockets
      form
        h2 Choose the destination
        select.question(name='question')
          option(value='earth-mars') Who gets faster from Earth on Mars?
          option(value='mars-earth') Who gets faster from Mars on Earth?
        h2 Choose a pilot from the mammals team
        select.answer1(name='answer1')
          option(value='monkey') The monkey?
          option(value='pig') The pig?
        h2 Choose a pilot from the bird team
        select.answer2(name='answer2')
          option(value='monkey') The penguin?
          option(value='dog') The duck?
        button.submit(name='sumbit') Submit