extends layout

block content
  div.container-play
    p(class="indexQuestion" style="visibility: hidden; margin: 0;")  
    h1(class="questionDone")
    div(class="galaxy")
      div(class="space")
      div(class="rockets")
        h3(class="scoreAns1" style="visibility: hidden; margin: 0;") 10
        p(class="indexAns1" style="visibility: hidden; margin: 0;")
        a(class="answer1Done" href="#")
        h3(class="scoreAns2" style="visibility: hidden; margin: 0;") 10
        p(class="indexAns2" style="visibility: hidden; margin: 0;")
        a(class="answer2Done" href="#")
  div(class="go" style="display: none;")
    h1 Game Over