body {
  padding: 0;
  margin: 0;
}

.container-main {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: /* top, transparent black, faked with gradient */ linear-gradient( rgba(25, 20, 68, 0.45), rgba(0, 0, 0, 0.68) ), /* bottom, image */ url(../images/bg.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container-play {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: /* top, transparent black, faked with gradient */ linear-gradient( rgba(25, 20, 68, 0.45), rgba(0, 0, 0, 0.68) ), /* bottom, image */ url(../images/bg-play.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.createpoll {
  margin: 0 auto;
  width: 40%;
}

.galaxy {
  position: relative;
  top: 150px;
}

a {
  color: #00B7FF;
}

button {
  width: 100%;
  margin: 20px 0;
  padding: 15px 0;
  background-color: #43b8c3;
  border: 1px solid #3bbfd4;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}

body select { 
  display: block; 
  padding: 15px 70px 15px 13px !important; 
  width: 100%; 
  height: auto !important; 
  margin: 0 0 20px 0;
  border: 1px solid #e3e3e3; 
  border-radius: 3px; 
  background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat; 
  background-color: #fff; color: #444444; 
  font-weight: bold;
  line-height: 16px !important;
  appearance: none; 
  
  /* this is must */ 
  -webkit-appearance: none; 
  -moz-appearance: none; 
} 

/* body select.select_box option */ 
body select option { 
  padding: 0 4px; 
} 

/* for IE and Edge */ 
select::-ms-expand { 
  display: none; 
} 

select:disabled::-ms-expand { 
  background: #f60; 
}

h2 {
  margin-bottom: 5px;
  color: white;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 100px 0 100px;
  font-size: 4em;
}

.space img {    
  width: 250px;
  position: absolute;
}

.space :first-child {
  left: 0;
}

.space :last-child {
  right: 0;
}

a {
  display: inline-block;
  width: 80px;
  margin: 0 auto;
}

.rockets {
  bottom: 40px;
  position: relative;
  z-index: 2;
}

.rockets a {
  left: 10%;
  transition: all 0.5s;
  position: relative;
}

.go {
  position: absolute;
  z-index: 99999;
  background-color: #000000ab;
  color: white;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}